@import "tailwindcss";

:root {
  --background-light: #f6f7f8;
  --background-dark: #101922;
  --primary: #1173d4;
  --foreground-light: #1f2937;
  --foreground-dark: #e5e7eb;
}

@theme inline {
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-primary: var(--primary);
  --font-display: var(--font-display);
}

html {
  color-scheme: dark;
}

body {
  background: var(--background-dark);
  color: var(--foreground-dark);
  font-family: var(--font-display);
}
